@use '../custom' as *;

.section-home .container .stats {
    overflow: hidden;
}

.bg-pile {
    overflow: hidden;
    z-index: -1;
    position: absolute;
    top: 0%;
    right: 0%;
    width: 640px;
    height: 640px;
}

.btn-home {
    width: 156px;
}

@media only screen and (max-width: 480px) {
    .bg-pile {
        width: 480px;
        height: 480px;
    }
}

@media only screen and (max-width: 320px) {
    .bg-pile {
        width: 350px;
        height: 350px;
    }
}