@use '../custom' as *;

.section-home {
    height: 100vh;
}

.stat-container{
    z-index: 2;
    width: 186px;
    height: 186px;
    margin: 1.125rem 1.125rem;
    background-color: $white;
}

.col-md-6 {
    overflow: hidden;
}

.bg-pile {
    z-index: -1;
    position: absolute;
    top: 0%;
    right: 0%;
    width: 640px;
    height: 640px;
}

@media only screen and (max-width: 480px) {
    .bg-pile {
        width: 480px;
        height: 480px;
    }
}