@use '../custom' as *;

.btn-primary {
    border-radius: 50px;
    background-color: $primary;
    border-color: transparent;
    color: #fff;
}

.btn-secondary {
    border-radius: 50px;
    background-color: $secondary;
    border-color: transparent;
    color: #fff;
}